Makefile
config.h
config.log
config.status
lib/.svn/
src/.deps/
src/Makefile
stamp-h1
wisconsin-src/.svn/
wisconsin-src-original/.svn/
src/*.o
wisconsin-src-unmodified/**/*.o
src/mchashjoins
doc/html
doc/latex
autom4te.cache/
*.pyc
measurements/plots
*.tmp
wisconsin-src-unmodified/dist/
wisconsin-src-unmodified/multijoin
wisconsin-src-unmodified/multijoin-serial
!wisconsin-src-unmodified/Makefile
measurements/**/*.md
base_results*/**/*.pdf
*.pgf